*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
}
@font-face {
    font-family: TrollsMovieFont;
    src: url(../fonts/TrollsMovieFont.otf);
}
body {
    font-family: TrollsMovieFont, Arial;
    overflow: hidden; 
}
ul,
ol {
    list-style-type: none;
    line-height: 1.3;
}
ul li,
ol li {
    margin-bottom: 5px;
    font-size: 18px;
}
.screen,
.score-value span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.screen-start,
.screen-ranking {
    width: 70vw;
    height: 60vh;
}
.screen-ranking {
    width: 50vw;
    z-index: 4;
}
.screen-game {
    width: 100vw;   
    height: 100vh;
    background: url(../img/bg.jpg);
    background-size: cover;
    background-blend-mode:normal;
}
.panel {
    width: 100%;
    padding: 8vh 5vw;
    height: 100%;
    background: #999659;
    border: 20px solid white;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    z-index: 4;
}
table {
    overflow-y: auto;
    max-height: 27vh;
    display: block;
    margin-bottom: 2vh;
}
tr > th:nth-child(1),
tr > td:nth-child(1) {
    width: 10%;
    text-align: left;
}
tr > th:nth-child(2),
tr > td:nth-child(2) {
    width: 200px;
    text-align: left;
}
tr > td:nth-child(3) {
    width: 200px;
    text-align: center;
}
td,th {
    line-height: 2;
}
h1 {
    margin-bottom: 30px;
    font-size: 40px;
}
form {
    margin-top: 20px;
}

input[type='text'] {
    min-width: 200px;
}

input[type='text'],
input[type='submit'],
button {
    padding: 9px;
    border: 2px solid white;
    border-radius: 10px;
}

input[type='submit'],
button {
    background: #1a3d1d;
    color: #fff;
    border: none;
}
#play{
	
	
	padding: 9px; 
    border-radius: 10px; 
}
#play:active {
    
	
	padding: 9px; 
    border-radius: 10px; 
}

.game-panel {
    position: absolute;
    color: #fff;
}
.game-panel-skills {
    right: 30px;
    bottom: 30px;
}
.game-panel-user {
    left: 30px;
    top: 30px;
}
.game-panel-scores {
    bottom: 30px;
    left: 30px;
    z-index: 3;
}
.user-info {
    text-transform: uppercase;
    margin-bottom: 7px;

}
.panel-xp,
.panel-mp {
    height: 23px;
    background: white;
    margin-bottom: 4px;
    position: relative;
}
.panel-xp {
    width: 200px;
}
.panel-mp {
    width: 176px;
}
.score-value {
    width: 100%;
    height: 100%;
}
.panel-xp .score-value {
    background: #278609;
}
.panel-mp .score-value {
    background: #5900b8;
}
.score-value span {
    padding-right: 13px;
}
.game-panel-skills img {
    margin-left: -1px;
}
.show {
    z-index: 300;
}
/*animation*/

#instruction{
	text-transform : uppercase; 
	color : #0B2349;
	background  : linear-gradient(180deg, black -20%, red 10%, black 10%); 
	display : table;
	-webkit-background-clip : text;
	-webkit-text-fill-color : transparent;
}
/*troll*/
#TROLL { 
    position: absolute;/*Свободное позиционирование по всей странице*/
    left: 20vw; /*смещаем элемент вправо на 2vw*/
    top: 26vw; /*смещаем элемент вниз на 5.5vw*/
    width: 13vw; /*Ширина блока 13vw*/
    height: 9vw;/*Высота блока 9px*/
    background: url(../../media/trolls/png/1troll/IDLE/IDLE_000.png); /*фоновое изображение*/
    background-size: 100%; /*Делаем изображение на весь блок*/
    display:none; /*Скрываем до нажатия на кнопку старта*/
    z-index: 2;
    
}
#skill-sword-3,#skill-sword-8{
	font-size:2vw; 
	color:white; 
	position:absolute; 
	top:0.3vw;
	display:none;
}
#skill-sword-3{left:7.2vw;}
#skill-sword-8{left:10vw;}




